---
import Main from "../layouts/Main.astro";
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Carousel from "../components/Carousel.astro";
import Carousels from "../components/Carousels.astro";
import WordCarousel from "../components/WordCarousel.astro";
import SlantedGridGallery from "../components/SlantedGridGallery.astro";
import Shader from "../components/Shader.astro";
import Shader2 from "../components/Shader2.astro";
import Shader3 from "../components/Shader3.astro";
---

<Layout>
  <Main
    heading="kaffet"
    color="var(--color-light)"
    clipBg="var(--color-7)"
    bg="var(--color-4-dark)"
    transitionName="image-1"
  >
    <div class="grid">
      <WordCarousel />
      <div class="carousel-container">
        <Carousel />
        <!-- <div class="random-images">
          <h2>DEMETER</h2>
          <img src="/images/logos/Logga-Trans.png" alt="" />
        </div> -->
      </div>
      <div class="shader-container">
        <h2>
          <span>BRYGG</span><span>ESPRESSO</span><span>ESPRESSO GRANDE</span
          ><span>MELLANROST</span>
        </h2>
        <Shader
          colorIntensity={1}
          speed={0.4}
          rippleIntensity={0.2}
          width="100%"
          height="100%"
        />
        <!-- <Shader3
          width="100%"
          height="100%"
          imageUrl="/images/coffee/brygglabels.avif"
          colorIntensity={0.1}
          speed={1}
          chaos={1}
        /> -->
      </div>
      <!-- <Shader3
          width="100%"
          height="100vh"
          imageUrl="/images/coffee/esplabels.avif"
          colorIntensity={0.2}
          speed={0.3}
          chaos={0.5}
        /> -->
      <!-- <Shader2
      width="300px"
      height="300px"
      imageUrl="/fail.jpg"
      colorIntensity={1.2}
      speed={0.5}
      chaos={1.0}
    /> -->
    </div>
  </Main>
  <!-- <section>
    <SlantedGridGallery />
  </section> -->

  <style>
    .random-images {
      background-color: var(--color-7);

      & img {
        width: 100px;
      }
    }
    section {
      background-color: var(--color-4);
    }
    .carousel-container {
      display: grid;
      /* grid-template-columns: 500px 1fr; */
      /* max-width: 100%; */
      /* background: url("./images/andy-wang.avif");
    background-position: center; */
      background-color: var(--color-brand-2);
      /* background-color: var(--color-4-dark); */
      /* background-blend-mode: luminosity; */
      /* border-radius: var(--radius-drawn-5); */
      background: url("./images/andy-wang.avif");
      /* background: url("./images/decorations/smile.webp"); */
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* background-size: 200px; */
      /* background-size: 300px; */
      background-color: var(--color-brand-2);
      background-color: var(--color-4-dark);
      /* background-color: var(--color-6); */
      background-blend-mode: difference;
      background-blend-mode: color-dodge;
      z-index: 1000;
    }
    .shader-container {
      position: relative;
      & h2 {
        font-size: var(--size-fluid-4);
        color: var(--color-brand-2);
        position: absolute;
        z-index: 10;
        pointer-events: none;
        @media (min-width: 700px) {
          top: 20%;
          left: 50%;
          transform: translateX(-50%) rotate(-90deg);
        }
      }
      & span {
        display: block;
      }
    }
    .grid {
      position: relative;
      display: grid;
      /* @media (min-width: 700px) {
      grid-template-columns: 300px 1fr 1fr;
    } */
    }
    /* .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 100vh;
  
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  } */
  </style>
</Layout>
