---
import Main from "../layouts/Main.astro";
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Carousel from "../components/Carousel.astro";
import Carousels from "../components/Carousels.astro";
import WordCarousel from "../components/WordCarousel.astro";
import SlantedGridGallery from "../components/SlantedGridGallery.astro";
import Shader from "../components/Shader.astro";
import Shader2 from "../components/Shader2.astro";
import Shader3 from "../components/Shader3.astro";
---

<Layout>
  <Main
    heading="kaffet"
    color="var(--color-light)"
    clipBg="var(--color-dark)"
    bg="var(--color-4-dark)"
    transitionName="image-1"
  >
    <div class="grid">
      <!-- <WordCarousel /> -->
      <Carousel />
      <div class="shader-container">
        <h2><span>EKOLOGISKT</span><span>BIODYNAMISKT</span></h2>
        <Shader
          colorIntensity={1}
          speed={0.4}
          rippleIntensity={0.2}
          width="100%"
          height="100%"
        />
      </div>
      <!-- <Shader3
          width="100%"
          height="100vh"
          imageUrl="/images/coffee/esplabels.avif"
          colorIntensity={0.2}
          speed={0.3}
          chaos={0.5}
        /> -->
      <!-- <Shader2
      width="300px"
      height="300px"
      imageUrl="/fail.jpg"
      colorIntensity={1.2}
      speed={0.5}
      chaos={1.0}
    /> -->
    </div>
    <!-- <SlantedGridGallery /> -->
  </Main>
</Layout>
<style>
  .shader-container {
    position: relative;
    & h2 {
      font-size: var(--size-fluid-4);
      color: var(--color-brand-2);
      position: absolute;
      z-index: 10;
      pointer-events: none;
      @media (min-width: 700px) {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) rotate(-90deg);
      }
    }
    & span {
      display: block;
    }
  }
  .grid {
    position: relative;
    display: grid;
    /* @media (min-width: 700px) {
      grid-template-columns: 300px 1fr 1fr;
    } */
  }
  /* .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 100vh;
  
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  } */
</style>
