---
import Shader3 from "./Shader3.astro";
import SlantedGridGallery from "./SlantedGridGallery.astro";

interface Props {
  id: string;
  title: string;
  imageSrc: string;
  imageSrcs?: string[];
}

const { id, imageSrc, title } = Astro.props;
---

<div popover id={id}>
  <div class="popover-wrapper">
    <h2>{title}</h2>
    <!-- <img src="/images/logos/demeter.avif" alt="" /> -->
    <img src={imageSrc} alt="bag of coffebeans" />
    <p>
      Pa våran resa genom södra Indien hittade vi den biodynamiska gården Poabs.
      Gården ligger högt i bergen och drivs som ett slutet kretslopp där allt
      tas tillvara på. Smaken är fyllig och väl balanserad med härligt söta
      toner. Omsorgsfullt rostat!
    </p>
    <!-- <img src="/images/qr.png" alt="" /> -->
    <!-- <SlantedGridGallery title={title} /> -->
  </div>
</div>

<style>
  .popover-wrapper {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 5rem;
    & h2 {
      font-size: 15rem;
      text-align: left;
      color: var(--color-light);
    }
    & p {
      color: var(--color-light);
      text-align: left;
    }
    & img {
      align-self: center;
      justify-self: center;
    }
  }
  [popover] img {
    max-width: 200px;
  }
  [popover] {
    background: url("/images/andy-wang.avif");
    background-color: var(--color-4-dark);
    background-blend-mode: color-burn;
    border: none;
    /* inset: 0; */
    /* left: 0%; */
    width: min(80%, 1000px);
    height: 95%;
    margin: auto;
    /* display: flex; */
    /* align-items: center; */
  }
  [popover]::backdrop {
    background-color: rgba(3, 13, 5, 0.641);
  }
</style>
