<a href="/"><img src="/images/logos/Logga-Trans.png" alt="" /></a>

<style>
  a {
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 1100;
    transition: scale 0.1s;
    width: 80px;
    rotate: -10deg;
  }
  a:hover {
    scale: 1.1;
  }
</style>
