---
import Layout from "./Layout.astro";
import BackBtn from "../components/BackBtn.astro";
import { fade } from "astro:transitions";
import { slide } from "astro:transitions";
import Shader from "../components/Shader.astro";

interface Props {
  heading: string;
  bg: string;
  color: string;
  transitionName: string;
  clipBg?: string;
}

const { heading, transitionName, bg, clipBg, color } = Astro.props;
---

<main class="clip-bg">
  <BackBtn />
  <div class="grid">
    <div class="heading-container">
      <!-- <Shader
        colorIntensity={1}
        speed={0.4}
        rippleIntensity={0.2}
        width="100%"
        height="100%"
      /> -->
      <h1
        transition:animate={slide({ duration: "1s" })}
        transition:name={`card-title-${transitionName}`}
      >
        {heading}<span class="dot">.</span>
      </h1>
    </div>
    <slot />
  </div>
</main>

<style define:vars={{ clipBg, bg, color }}>
  .dot {
    color: var(--color-1);
    animation: hueRotate 5s infinite;
    font-family: Inter, sans-serif;
  }
  main {
    /* overflow-x: hidden; */
  }
  .clip-bg {
    background-color: var(--clipBg);
    position: relative;
  }

  .grid {
    background-color: var(--bg);
    color: var(--color);
    width: min(100%, 1500px);
    margin-inline: auto;
    display: grid;
    height: 100vh;
    /* align-items: flex-start; */
    overflow-x: clip;

    grid-auto-rows: max-content;
    /* gap: 2rem; */
    /* -webkit-mask: var(--mask-edge-zig-zag-left); */

    @media (min-width: 700px) {
      grid-auto-rows: auto;
      grid-template-columns: min(200px, 18vw) 1fr;
    }
  }

  .heading-container {
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;

    text-align: center;

    background-color: var(--color-4-dark);
    /* -webkit-mask: var(--mask-edge-zig-zag-right); */
    /* background: url("./images/andy-wang.avif"); */
    /* background: url("./images/coffee/esplabels.avif"); */
    /* background: url("./urban.jpg"); */
    background-position: center;
    /* background-color: var(--color-7); */
    background-blend-mode: luminosity;
    background-blend-mode: difference;
  }
  h1 {
    /* animation: hueRotate 15s infinite; */
    font-size: 3rem;
    /* z-index: 1000; */
    /* padding-top: 2rem; */
    line-height: 1;
    @media (min-width: 700px) {
      /* line-height: 0; */
      font-size: min(15rem, 2rem + 15vw);
      padding-top: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      white-space: nowrap;
      transform: translate(-50%, -50%) rotate(270deg);
    }
  }
</style>
